*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#020617;
    color:#fff;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}


/* HEADER */

header{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(2,6,23,0.85);
    backdrop-filter:blur(15px);
    z-index:1000;
    padding:18px 0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:800;
    color:#38bdf8;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

nav ul a:hover{
    color:#38bdf8;
}


/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:120px 20px 50px;
}


.profile{
    width:230px;
    height:230px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;
    box-shadow:0 0 40px #38bdf8;
    animation:float 3s infinite ease-in-out;
}


@keyframes float{
    50%{
        transform:translateY(-15px);
    }
}


.hero h3{
    margin-top:25px;
    color:#cbd5e1;
}


.hero h1{
    font-size:55px;
    color:#38bdf8;
}


.hero h2{
    font-size:28px;
    margin:10px 0;
}


.hero p{
    max-width:700px;
    margin:auto;
    color:#cbd5e1;
}



/* BUTTON */

.buttons{
    margin-top:30px;
}


.btn{
    display:inline-block;
    padding:13px 30px;
    margin:10px;
    border-radius:50px;
    background:#38bdf8;
    color:#020617;
    text-decoration:none;
    font-weight:700;
    transition:.4s;
}


.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #38bdf8;
}


.gold{
    background:#facc15;
}



/* SECTIONS */

section{
    padding:80px 0;
}


.title{
    text-align:center;
    font-size:38px;
    color:#38bdf8;
    margin-bottom:40px;
}


/* CARDS */

.card{
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.15);
    padding:25px;
    border-radius:20px;
    backdrop-filter:blur(10px);
    margin:15px;
    transition:.4s;
}


.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(56,189,248,.5);
}


.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
}



/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:#000814;
    color:#cbd5e1;
}



/* MOBILE */

@media(max-width:700px){

nav ul{
    display:none;
}

.hero h1{
    font-size:38px;
}

.hero h2{
    font-size:20px;
}

.profile{
    width:180px;
    height:180px;
}

    }
